<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="components/main/home/home.css">

<div class="content">
    <div class="portfolio_container">
        <div class="welcome"></div>
        <!-- <div class="timeline"></div> -->
        <div class="projects">
            <div class="projects_title">
                <h1 id="projectsTitle">Proyectos</h1>
            </div>
            <div class="projects_container"></div>
        </div>
        <div class="skills"></div>
        <div class="about_me"></div>
    </div>
</div>
