<!-- Header html -->

<link rel="stylesheet" href="components/main/header/header.css">
<header class="header sticky sticky--top js-header">
    <div class="header_container">
        <div class="left_container">
            <div class="logo">
                <img src="assets/img/logo.png" alt="logo">
            </div>
        </div>
        <div class="center_container">
            <div class="title">
            </div>
        </div>
        <div class="right_container">
            <div id="languageSwitcherContainer">
                <label class="toggle-lang">
                    <input type="checkbox" id="languageSwitcher">
                    <i class="fas fa-globe"></i>
                </label>
            </div>
            <div class="themeSwitcherContainer">
                <label class="toggle-theme">
                    <input type="checkbox" id="themeSwitcher">
                    <i class="fas fa-moon"></i>
                </label>
            </div>
        </div>
    </div>

  
</header>